table {
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #666666;
}
th, td {
    padding: 5px;
    vertical-align: top;
}
th {
    font-size: 0.88em;
}
th:first-child, td:first-child {
    min-width: 55px;
}
th.highlighted, td.highlighted {
    background-color: #e1e1e1;
}