table {
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #666666;
}
th, td {
    padding: 5px;
}
th {
    font-size: 0.88em;
}
tr:first-child td:first-child {
    min-width: 90px;
}